body {
  background-color: #00203FFF;
    width: 1000px;
    margin: auto;
    }
header{
    background-color: #ADEFD1FF;
    height: 80px;
    width: 100%;
    position: fixed;
    top:  0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
        }
footer{
    background-color: #ADEFD1FF;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
}
h1{
   font-style: Arial;
    font-size: 40px;
    font-weight: bold;
    color: #00203FFF;
    margin-top: 20px;
    text-align: center;
}
h6{
  font-style: Arial;
    font-size: 20px;
    font-weight: bold;
    color: #00203FFF;
    margin-top: 20px;
    text-align: center;
}
}